/* .App {
  background-color: gradient(to right, #f12711, #f5af19);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.grid {
  grid-auto-rows: minmax(350px, auto);
  display: grid;
}

.match-grid {
  grid-auto-rows: minmax(275px, auto);
  display: grid;
}